<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
  <nav class='header-bar'>
    <div class="one-third left">
      <% if current_user %>
      <div class="title-area">
          Welcome, <%= current_user.first_name %>
      </div>
      <% end %>
    </div>

    <div class="one-third center">
      <%= image_tag "header/logo.png" %>
    </div>

    <div class="one-third right">
      <% if current_user %>
        <div class="logout"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></a></div>
      <% end %>
    </div>
  </nav>
    <% if current_user %>
      <script type="javascript">
        globals.user_id = <%= current_user.id %>
      </script>
    <%end %>
    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>